* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* common */

body {
  font-family: "lato" sans-serif;
}

p {
  color: #abb2b5;
}

li {
  display: inline-block;
  list-style-type: none;
  margin-right: 15px;
}

a {
  color: #abb2b5;
}

img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.colorback-azul {
  color: #8edafc;
}

.color-azul {
  background-color: #8edafc;
}

.color-white {
  background-color: white;
}

.color-grey {
  background-color: #eaeaea;
}

.color-grey-text {
  color: #abb2b5;
}

.color-red {
  background-color: red;
}

.color-green {
  background-color: #d5f9ba;
}

.color-blue {
  background-color: blue;
}

.color-white {
  background-color: white;
}

/* Modalità laptop */
nav {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#laptop-screen {
  height: 100vh;
  width: 100%;
}

.container {
  height: 80%;
  width: 80%;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

.left-col {
  /* debug */
  height: 100%;
  width: 25%;
  background-color: white;
}

.right-col {
  /* debug */
  height: 100%;
  width: 75%;
}

.left-col header {
  width: 100%;
  height: 10%;
  border-right: 1px solid #abb2b59e;
}

.right-col header {
  /* debug */

  width: 100%;
  height: 10%;
}

/* .right-col nav div:first-child img {
  float: left;
}

.right-col nav div:first-child {
  padding-top: 13px;
} */

nav div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav div:first-child div:nth-child(2) {
  font-size: 14px;
}

.Notify {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
}

.Notify span {
  text-decoration: underline;
  color: #abb2b5;
}

.Notify i {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  line-height: 30px;
}

.Notify div:first-child {
  width: 20%;
  text-align: center;
}

.Notify div:nth-child(2) {
  width: 80%;
  font-size: 10px;
  line-height: 13px;
}

.search-bar {
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
}

.search-bar input {
  border: none;
  outline: none;
}

.search-bar div:first-child {
  width: 10%;
  background-color: white;
}

.search-bar div:nth-child(2) {
  width: 80%;
  background-color: white;
}

.list-users {
  height: 75%;
  display: flex;
  flex-direction: column;
}

.chat {
  height: calc(100% / 7);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #abb2b59e;
}

.chat div:nth-child(2) {
  font-size: 11px;
}

.chat div:nth-child(2) p {
  color: #abb2b5;
}

.chat div:nth-child(2) h3 {
  color: black;
}

.chat span {
  color: #abb2b5;
  font-size: 12px;
  margin-bottom: 12px;
  width: 50px;
  text-align: right;
  margin-left: 65px;
}

.hidden-chat {
  display: none;
  border-bottom: none;
}

.container-chat {
  background-image: url(../img/mine.jpg);
  background-repeat: repeat;
  background-size: contain;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 79%;
  overflow-x: scroll;
  gap: 12px;
}

.container-chat div {
  width: 55%;
  border-radius: 12px;
  padding: 0.5rem;
}

.container-chat p {
  color: black;
}

.receive,
.sent {
  position: relative;
}

.receive div,
.sent div {
  width: 100%;
  border-radius: 20px;
}

.receive span,
.sent span {
  font-size: 10px;
  color: #abb2b5;
  position: relative;
  left: 90%;
}

.receive a,
.sent a {
  color: black;
  text-decoration: none;
}

.container-chat div:first-child {
  align-self: flex-end;
}

.type-message {
  width: 100%;
  height: 11%;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
}

.type-message div:nth-child(1),
.type-message div:nth-child(3) {
  width: 10%;
  text-align: center;
  font-size: 24px;
}

.type-message div:nth-child(2) {
  width: 80%;
  text-align: center;
}

.type-message div:nth-child(2) input {
  width: 100%;
  height: 40px;
}

.forscroll-bar {
  height: 500px;
  flex-shrink: 0;
}

/* Options message */

#option-message {
  width: 1px;
  height: 1px;
  position: absolute;
  right: 5%;
  top: 5%;
}

#option-message i {
  opacity: 50%;
}

#option-message div {
  position: absolute;
  background-color: white;
  left: -110px;
  width: 150px;
  top: 35px;
  display: none;
  border: 1px solid #abb2b5;
}

#option-message:active div,
#option-message2:active div {
  display: inline-block;
}

#option-message2 {
  width: 1px;
  height: 1px;
  position: absolute;
  left: 90%;
  top: 5%;
}

#option-message2 i {
  opacity: 50%;
}

#option-message2 div {
  position: absolute;
  background-color: white;
  width: 150px;
  top: 28px;
  left: -112px;
  border: 1px solid #abb2b5;
  display: none;
}

/* .option-message {
  background-color: white;
  width: 10px;
}

.option-message i {
  position: absolute;
  right: 5%;
} */

/* responsive */

@media screen and (max-width: 956px) {
  .container {
    height: 100vh;
    width: 100%;
  }
  .left-col {
    width: 15%;
  }

  .right-col {
    width: 90%;
  }

  .left-col nav {
    justify-content: center;
  }

  .left-col ul {
    display: none;
  }

  .Notify,
  .search-bar {
    display: none;
  }

  .list-users {
    height: 85%;
  }

  .chat div:nth-child(2) {
    display: none;
  }

  .chat {
    justify-content: center;
    height: calc(100% / 8);
  }

  .chat span {
    display: none;
  }

  .hidden-chat {
    display: flex;
  }
}

@media screen and (max-width: 425px) {
  .left-col {
    width: 0;
  }

  .right-col {
    width: 100%;
  }

  .right-col nav div:nth-child(3) {
    display: none;
  }

  .right-col nav div:first-child {
    width: 100%;
    font-size: 24px;
  }

  nav div:first-child {
    justify-content: unset;
  }

  nav div:first-child div:first-child {
    width: 10%;
  }

  nav div:first-child div:nth-child(2) {
    padding-left: 12px;
  }

  nav div:nth-child(2) ul {
    display: none;
  }

  .type-message i {
    display: none;
  }
}
